.main-content .wrapper {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 30ch;
    animation: typing 2s steps(30), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

video {
    width: 100%;
    height: auto;
}

.main-content .row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.main-content .header {
    background-color: #b85c34;
    color: white;
    padding: 15px;
}

.main-content .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-content .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: white;
    color: black;
    border-color: #b85c34;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main-content .menu li:hover {
    color: #b85c34;
    box-shadow: 0 0 5px #b85c34, 0 0 10px #b85c34;
}

.main-content .row .menu ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.main-content .aside {
    background-color: transparent;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main-content .footer {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.main-content .footer p {
    color: #ffffff;
}

@media all and (max-width: 768px) {
    .main-content {
        margin-top: 75px;
    }
}